/* Common styles */
/*body h2 {*/
    /*color: #777;*/
/*}*/

ul {
    list-style-type: none;
    padding-left: 10px;
}

.row { /* override row default margins in bootstrap.css */
     margin-right: 0;
     margin-left: 0;
}

.listHeader {
    display: flex;
    align-content: flex-start;
}



.reportsList {
    display: flex;
    flex-direction: column;
}

.stacktrace {
    padding-left: 40px;
    color: #777;
}


/* index.jsp */

/*#recordsList ul {*/
    /*padding-left: 10px;*/
/*}*/

#recordItem {
    /*border-bottom: solid #bbbbbb 1px;*/
}

#recordItem .firstRow {
     display: flex;
     align-content: flex-start;
}

#recordItem .secondRow {
    display: flex;
    justify-content: space-between;
}

#recordItem .thirdRow {
    display: flex;
    align-content: flex-start;
}


#accountItem {
    /*border-bottom: solid #bbbbbb 1px;*/
}

#accountItem .firstRow {
    display: flex;
    justify-content: space-between;
}

#accountItem .secondRow {
    display: flex;
    align-content: flex-start;
}


.columnHeader {
    color: #777;
}

.columnSubHeader {
    color: #777;
    display: flex;
    justify-content: flex-end;
}

.newRecordButton {
    width: 60%;
    margin: 20px 0;
}


#addNewRecordForm button {
    min-width: 80px;
}

/*#recordsList .loggedUserHeader {*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*color: #bbbbbb;*/
/*}*/

/*#recordsList .booksListHeader {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/

/*#recordsList table .btn {*/
    /*min-width: 80px;*/
/*}*/

/*#recordsList .booksListHeader .btn {*/
    /*margin-top: 20px;*/
    /*margin-bottom: 10px;*/
/*}*/

/* addBook.jsp */
#addNewBookForm {
    width: 500px;
}