/* Common styles */
/*body h2 {*/
    /*color: #777;*/
/*}*/

ul {
    list-style-type: none;
    padding-left: 10px;
}

.row { /* override row default margins in bootstrap.css */
     margin-right: 0;
     margin-left: 0;
}

.listHeader {
    display: flex;
    align-content: flex-start;
}

.dateText {
    font-size: 12px;
    color: #8a6d3b;
}

.mainMessageText {
    font-size: 18px;
}

.mainMessageColor {
    color: #080808;
}

.descriptionText {
    font-size: 12px;
    text-align: left;
}

.descriptionColor {
    color: #777777;
}

.no-data {
    color: #bbbbbb;
}

/* nav-bar styles - override bootstrap */
.navbar-nav > li > a:hover.inactiveLink,
.navbar-nav > li > a:focus.inactiveLink {
    color: #777;
    background-color: transparent;
    cursor: default;
}

.navbar-nav > li > a.separator {
    padding: 14px 0;
}


/* index.jsp */

#recordItem .firstRow {
     display: flex;
    justify-content: space-between;
}

#recordItem .secondRow {
    display: flex;
    justify-content: space-between;
}

#recordItem .thirdRow {
    display: flex;
    align-content: flex-start;
}




#accountItem .firstRow {
    display: flex;
    justify-content: space-between;
}

#accountItem .secondRow {
    display: flex;
    align-content: flex-start;
}


.columnHeader {
    color: #777;
}

.columnSubHeader {
    color: #777;
    display: flex;
    justify-content: flex-end;
}

.newRecordButton {
    width: 60%;
    margin: 20px 0;
}


#addNewRecordForm button {
    min-width: 80px;
}


.newAccountButton {
    width: 40%;
    margin: 20px 0;
}
